{% extends "base.html" %}
{% block content %}

<div class="content">
    <div class="container">
        <div class="title">Editar Cliente</div>
        <p>Nesta página você poderá atualizar os dados do cliente abaixo.</p>
        <form method="post" enctype="multipart/form-data">
            {% if form.errors %}
            <ul>
                {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            <table class="tabela-adicionar-clientes">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Salvar alterações" class="botao-primario">
            <a href="{% url 'cliente_detalhe' pk=cliente.pk %}" class="botao-secundario">Voltar</a>
        </form>
    </div>
</div>

{% endblock %}