{% extends "base.html" %}
{% block content %}

<div class="content">
    <div class="container">
        <div class="title">Clientes</div>
        <p>Esta é a lista de clientes cadastrados. Você pode utilizar os filtros para filtrar os dados.</p>
        <div class="actions">
            <form method="GET" action="">
                <input type="text" name="search" placeholder="Digite o nome ou CNPJ" value="{{ request.GET.search }}">
                <button type="submit">Buscar</button>
            </form>
            <div>
                <a href="{% url 'novo_cliente' %}" class="add-client-btn"><button >Adicionar Cliente</button></a>
                <a href="{% url 'atualizar_clientes' %}" class="update-clients-btn"><button type="button">Atualizar CNPJs</button></a>
            </div>
        </div>

        {% if clientes %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CNPJ</th>
                        <th>NOME</th>
                        <th>CONTATO</th>
                        <th>DT. ATUALIZAÇÃO</th>
                        <th>STATUS</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.cnpj }}</td>
                        <td>{{ cliente.nome_fantasia }}</td>
                        <td>{{ cliente.telefone }}<br>{{ cliente.email }}</td>
                        <td>
                            {% if cliente.ultima_atualizacao %}
                                {{ cliente.ultima_atualizacao }}
                            {% else %}
                                Aguardando a primeira análise.
                            {% endif %}
                        </td>
                        <td class="status-tag">
                            <span>{{ cliente.regime_fiscal }}</span>
                            <span>
                                {% if cliente.status %}
                                    {{ cliente.status }}
                                {% else %}
                                    Em análise
                                {% endif %}
                            </span>
                        </td>
                        <td class="actions-icons">
                            <a href="{% url 'cliente_detalhe' cliente.pk %}">
                                <span class="material-icons">visibility</span>
                            </a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="placeholder-clientes">
                <div class="material-icons">search_off</div>
                <h3>Não há clientes cadastrados. Clique em "Adicionar cliente" para iniciar um cadastro.</h3>
            </div>

        {% endif %}
    </div>
</div>



{% endblock %}